/.vscode
# /node_modules
/node_modules/.cache/babel-loader/*
/public/hot
/public/storage
/storage/*.key
# laradock
/ConsumptiveMaterialLaradock
# /vendor
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/exchange_rate.json
/public/MIS_API.json

# files that required by Vetur
tsconfig.json
.DS_Store
/app/.DS_Store
/node_modules/cpy/node_modules/micromatch/lib/.DS_Store
/node_modules/extglob/lib/.DS_Store
/node_modules/node-sass/src/.DS_Store
public/.DS_Store
