# /node_modules
/public/hot
/public/storage
/storage/*.key
# laradock
/ConsumptiveMaterialLaradock
# /vendor
# cd into laradock dir and push, then come back to project and push
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# files that required by Vetur
tsconfig.json
.DS_Store
/app/.DS_Store
/node_modules/cpy/node_modules/micromatch/lib/.DS_Store
/node_modules/extglob/lib/.DS_Store
/node_modules/node-sass/src/.DS_Store
public/.DS_Store
