

  .checkbutton {
    box-sizing: border-box;
    -webkit-appearance: none;
    position: relative;
    display: block;
    width: 100px;
    height: 50px;
    margin: 50px auto;
    border: 5px solid #f7f7f5;
    border-radius: 17px;
    cursor: pointer;
    background: white;
  }

  .checkbutton:after,
  .checkbutton:before {
    box-sizing: border-box;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 35px;
    height: 35px;
    border: 5px solid;
    border-radius: 12px;
    text-align: center;
    line-height: 25px;
    font-size: 25px;
    transition: all 0.3s ease-out;
  }

  .checkbutton:before {
    content: "✘";
    color: #d93816;
    border-color: #ff6645;
    background: #ffddcc;
  }

  .checkbutton:after {
    left: auto;
    right: 2.5px;
    content: "✔";
    border-color: #34a84d;
    color: #30ba4e;
    background: #ccffbb;
    opacity: 0.4;
  }

  .checkbutton:checked:after {
    opacity: 1;
  }

  .checkbutton:checked:before {
    opacity: 0.4;
  }
