.tooltip1 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #ccc;
    color: #006080;
}
.tooltip1 .tooltip1text {
    visibility: hidden;
    position: absolute;
    width: 185px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity .6s;
}
.tooltip1:hover .tooltip1text {
    visibility: visible;
    opacity: 1;
}
.tooltip1 .tooltip1text2 {
    visibility: hidden;
    position: absolute;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
}
.tooltip1:hover .tooltip1text2 {
    visibility: visible;
}
.tooltip1-right {
  top: -5px;
  left: 125%;
}
.tooltip1-right2 {
  top: -5px;
  left: 105%;
}

.tooltip1-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.tooltip1-bottom {
  top: 135%;
  left: 50%;
  margin-left: -60px;
}

.tooltip1-bottom2 {
  top: 125%;
  left: 50%;
  margin-left: -60px;
}

.tooltip1-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip1-top {
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}
.tooltip1-top2 {
  bottom: 115%;
  left: 50%;
  margin-left: -60px;
}

.tooltip1-top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip1-left {
  top: -5px;
  bottom:auto;
  right: 128%;
}

.tooltip1-left2 {
  top: -5px;
  bottom:auto;
  right: 105%;
}

.tooltip1-left::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #555;
}

.tooltip1 .tooltip1text-bottomarrow {
    visibility: hidden;
    width: 120px;
    background-color: #111;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 50%;
    margin-left: -60px;
}
.tooltip1 .tooltip1text-bottomarrow::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.tooltip1:hover .tooltip1text-bottomarrow {
    visibility: visible;
}

.tooltip1 .tooltip1text-toparrow {
    visibility: hidden;
    width: 120px;
    background-color: #111;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}
.tooltip1 .tooltip1text-toparrow::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.tooltip1:hover .tooltip1text-toparrow {
    visibility: visible;
}

.tooltip1 .tooltip1text-leftarrow {
    visibility: hidden;
    width: 120px;
    background-color: #111;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}
.tooltip1 .tooltip1text-leftarrow::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.tooltip1:hover .tooltip1text-leftarrow {
    visibility: visible;
}
.tooltip1 .tooltip1text-rightarrow {
    visibility: hidden;
    width: 120px;
    background-color: #111;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
}
.tooltip1 .tooltip1text-rightarrow::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}
.tooltip1:hover .tooltip1text-rightarrow {
    visibility: visible;
}
