
  /* Style the navigation menu inside the left column */
  #receivemenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  #receivemenu li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
  }

  #receivemenu li a:hover {
    background-color: #eee;
  }


  /* Style the navigation menu inside the left column */
  #backmenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  #backmenu li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
  }

  #backmenu li a:hover {
    background-color: #eee;
  }
