
  /* Style the navigation menu inside the left column */
  #sendmenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  #sendmenu li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
  }

  #sendmenu li a:hover {
    background-color: #eee;
  }


  /* Style the navigation menu inside the left column */
  #pickmenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  #pickmenu li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
  }

  #pickmenu li a:hover {
    background-color: #eee;
  }
